{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <title>{{ title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static "profiles/main.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "profiles/profile.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "profiles/plantrip.css" %}" />

    <style>

    </style>

  </head>

  <body>

    <div id="navbar">
      <div id="logo"><a href="#"> VacaBuddies </a></div>
      <div id="navleft">
        <a class="navitem" href="#"><div> Home </div></a>
        <a class="navitem" href="#"><div> Plan a Trip </div></a>
        <a class="navitem profilenav">
          <div id="navprofile">
            <div id="navuserimg_container">
              <img id="navuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
            </div>
            <div id="navname">{{ user.name }}</div>
          </div>
        </a>
        </div>
      </div>
    </div>

    <div id="main_container">

      <div class="right_container">

        <div class="alltrips_container container">

          <div class="plantriptitle"> Plan a Trip </div>

          <div class="testcont">
            <form class="plantripform" method="post" action="/plantrip">
              {% csrf_token %}
              <div class="plangroup">
                <label for="plantitle"> Title </label>
                <input class="plantripinput" name="title" id="plantitle" type="text" maxlength="70" required />
              </div>
              <div class="plangroup">
                <label for="plandestination"> Destination </label>
                <input class="plantripinput" name="location" id="plandestination" type="text" maxlength="30" required />
              </div>
              <div class="plangroup">
                <label for="plandate"> Date </label>
                <input class="plantripinput" name="dates" id="plandate" type="text" required />
              </div>
              <div class="plangroup">
                <label for="plandescription"> Description </label>
                <textarea class="plantripinput" name="description" id="plandescription" type="text" maxlength="250" required></textarea>
              </div>
              <input class="finsishplan" type="submit" value="Finish Plan">
            </form>
          </div>

        </div>

      </div>

    </div>

  </body>

</html>
