{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <title>{{ title }}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{% static "profiles/main.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "profiles/profile.css" %}" />

    <style>

    </style>

  </head>

  <body>

    <div id="navbar">
      <div id="logo"><a href="/"> VacaBuddies </a></div>
      <div id="navleft">
        <a class="navitem" href="/"><div> Home </div></a>
        <a class="navitem" href="/plan/"><div> Plan a Trip </div></a>
        <a class="navitem profilenav">
          <div id="navprofile">
            <div id="navuserimg_container">
              <img id="navuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
            </div>
            <div id="navname"><a href="/profile/">{{ user.name }}</a></div>
          </div>
        </a>
        </div>
      </div>
    </div>

    <div id="main_container">

      <div class="left_container">

        <div class="profile_container container">

          <div class="profileimg_container">
            <img class="profileimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
          </div>
          <div class="nameusername">
            <div class="name">{{ user.name }}</div>
            <div class="username">@{{ user.username }}</div>
          </div>
          <hr class="nameusername_sep" />

          <div class="userinfo_container">
            <div class="userinfotitle"> About me </div>
            <div class="userinfo">
              {{ user.bio }}
            </div>
          </div>

          <div class="userinfo_container">
            <div class="userinfotitle"> Interests </div>
            <div class="userinfo">
              {{ user.interests }}
            </div>
          </div>

          <div class="userinfo_container">
            <div class="userinfotitle"> Likes </div>
            <div class="userinfo">
              {{ user.likes }}
            </div>
          </div>

        </div>

        <button class="likeplanbutton container"> Like </button>

      </div>

      <div class="right_container">

        <div class="alltrips_container container">

          <div class="switch">
            <div class="plannedbutton switchbutton" onclick="shift()">Trips Planned</div>
            <div class="participatedbutton switchbutton" onclick="reverseshift()">Trips Participated</div>
          </div>

          <div class="trips_container" id="planned">

            <div class="tripspartplantitle"> Trips Planned </div>

            {% for trip in planned_trips %}
            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@{{ trip.user.username }}</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">{{ trip.title }}</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: {{ trip.date }}</div>
                <div class="tripelocation">Location: {{ trip.location }}</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  {{ trip.description }}
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>
            {% endfor %}

            <!-- <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/IMG_71554.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div> -->

          </div>



          <div class="trips_container hidden" id="participated">

            <div class="tripspartplantitle"> Trips Participated </div>

            {% for trip in participated_trips %}
            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@{{ trip.user.username }}</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/fbbde3cf1c727e933318cfd3191b1d61.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">{{ trip.title }}</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: {{ trip.date }}</div>
                <div class="tripelocation">Location: {{ trip.description }}</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  {{ trip.description }}
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>
            {% endfor %}

            <!-- <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/fbbde3cf1c727e933318cfd3191b1d61.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/fbbde3cf1c727e933318cfd3191b1d61.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div>

            <div class="itrip_container">
              <div class="tripuserinfo">
                <div class="tripuserimg_container">
                  <img class="tripuserimg" src="{% static "profiles/9127a595d3a3421d984edc45230f6d9a.jpg" %}" />
                </div>
                <div class="tripusername">@jamie_21</div>
              </div>
              <div class="tripimg_container">
                <img class="tripimg" src="{% static "profiles/fbbde3cf1c727e933318cfd3191b1d61.jpg" %}" />
              </div>
              <div class="tripdetials">
                <div class="triptitle">Backpacking through Barcelona</div>
                <hr class="just_sep" />
                <div class="tripdate">Date: 5 Jan 2020</div>
                <div class="tripelocation">Location: Barcelona</div>
                <hr class="just_sep" />
                <div class="tripinfo">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure d
                </div>
              </div>
              <button class="tripinterested"> Interested </button>
            </div> -->

          </div>

        </div>

      </div>

    </div>

    <script>

      var tripsplanned = document.getElementById('planned');
      var tripsparticipated = document.getElementById('participated');

      function shift() {
        if(tripsplanned.className == "trips_container hidden"){
          tripsplanned.className = "trips_container";
          tripsparticipated.className = "trips_container hidden";
        }
      }

      function reverseshift() {
        if(tripsparticipated.className == "trips_container hidden") {
          tripsplanned.className = "trips_container hidden";
          tripsparticipated.className = "trips_container";
        }
      }

    </script>

  </body>

</html>
